.Board {
  width: 100%;
  height: 100%;
  background: green;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template: 1fr / 1fr;

  & > div {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    grid-gap: 5px;
    margin: 10px 0;
  }
}